.App {
    display: flex;
    align-items: center;
  }
  
  .chart-container {
    margin-bottom: 5rem;
    width: 90%;
  }
  
  body{
    background:#ccccce!important;
    font-family: sans-serif;
    padding: 1rem;
  }

  *{
    margin: 0.1rem;
    padding: 0.2rem;
  }